@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-400: #a1a1aa;
  --color-zinc-800: #27272a;
  --opacity-2: 0.02;
  --text-xxs: 0.625rem;
  --shadow-shape:
    0px 8px 8px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
    inset 0px 1px 0px rgba(255, 255, 255, 0.03);
  --shadow-shape-content:
    0px 0px 0px 1px rgba(0, 0, 0, 0.25),
    inset 0px 1px 0px rgba(255, 255, 255, 0.02),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}